@import url("https://fonts.googleapis.com/css2?family=Doppio+One&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background: #fefefe;
}
