@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  background: #1a1a1a;
  display: flex;
  justify-content: center;
}

.main-container {
  background-color: #000000;
  padding: 20px;
  border-radius: 32px;
  border: 1px solid white;
}

.flex-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.result {
  width: 100%;
  text-align: right;
  font-size: 8vw;
  font-weight: 100;
  word-wrap: break-word;
}

.btn {
  width: calc((100% - 45px) / 4);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  font-size: 3.3vw;
}

.btn.light-gray {
  background-color: #a5a5a5;
  color: black;
}

.btn.dark-gray {
  background-color: #333333;
}

.btn.orange {
  background-color: #fe9505;
}

.btn.last-row {
  width: calc((100% - 30px) / 4);
}

.btn.last-row-zero {
  width: calc((100% - 30px) / 2);
  aspect-ratio: 2 / 1;
  border-radius: 64px;
}

@media only screen and (min-width: 600px) {
  .main-container {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .main-container {
    width: 30%;
  }
}
